<div class="app-favt">
  
<ion-alert trigger="present-alert" header="Are You sure want to remove all the favorites?" [buttons]="alertButtons"></ion-alert>



  @if(favourites.length === 0){
  <div class="text-white flex-center full-height">No Favourite added.</div>
  }@else {
  <app-clear-storage buttonText="Remove" [title]="favourites.length + 'city added as favorite'" [setOpen]="setOpen"></app-clear-storage>
  @for( item of favourites; track item ){
  <app-wrapper [item]="item"></app-wrapper>
  }
  }
</div>