.app-favt{
    color:#8FC2DD;
    height:100%
}
ion-icon[name="heart"]{
    font-size: 30px;
}
.filled{
     color: #93AF00;
}
.each-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
    padding: 15px 30px;
    background-color: #9C72CA;
}
.current-location{
    color: #93AF00;
    font-size: 24px;
    margin-bottom: 15px;
}
.current-weather{
    display: flex;
    align-items: center;
}
.weather{
    display: flex;
    font-size: 20px;
}
.weather-icon{
    font-size: 40px;
    margin-right: 15px;
}
.weather-status{
     margin-left: 15px;
}
