<div class="app-favt">
  
<ion-alert trigger="present-alert" header="Are You sure want to remove all the favorites?" [buttons]="alertButtons"
  (didDismiss)="setResult($event)"></ion-alert>



  @if(favourites.length === 0){
  <div class="text-white flex-center full-height">No Favourite added.</div>
  }@else {
  <div class="title text-white">
    <div class="title-text">
      {{favourites.length}} city added as favorite
    </div>
    <div id="present-alert" (click)="setOpen(true)" class="title-text">
      Remove All
    </div>
  </div>
  @for( item of favourites; track item ){
  <app-wrapper [item]="item"></app-wrapper>
  }
  }
</div>