.selector {
    font-family: SFNSDisplay;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    color: #29235e;
    width: 100% !important;
    max-width: 100% !important;
    justify-content: center;
    border: solid 2px #e8ebf0;
    background-color: #ffffff;
    text-align: center;
  }
  .option {
    letter-spacing: 0.1px;
    color: white;
    width: 100% !important;
    max-width: 100% !important;
    justify-content: center;
    --ion-item-background:#9E72C9;
    font-weight: 700;
  
  }

  ion-option .list{
    font-family: SFNSDisplay;
    font-size: 8px !important;
    max-width: 100% !important;
  }
  .ion-option-items .item{
    font-family: SFNSDisplay;
    font-size: 8px !important;
    max-width: 100% !important;
  }
 .select-popover {
    font-family: SFNSDisplay !important;
    font-size: 8px !important;
    max-width: 100% !important;
  }
  .native-input{
    width: 100%;
    border:0;
    outline: none;
    box-shadow: none;
  }
  .item-inner{
    color: white;
    background-color: #9C72CA;

  }
  .item-native{
    height: 100px;
  }